/*general stuff*/

body, html {
<<<<<<< HEAD
	font: Verdana, serif 15px;
	background-color: light blue;
	color: rgb(245,220,180);
}

h1 {
	color: white;

	font: Georgia, serif 15px;
	background-color: black;
	color: rgb(255,200,150);
}


h2 {
	font-family: Verdana;
	font-style: italic;
	color: darkred;
}


/* this is a "class". It is a style you can define here and use over and over.*/

.formatThis {
	background-color: darkgreen;Ã
	height:100px;
	width: 100%;
	border: 2px solid black;
}

